<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SharpEditorAvalonia.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SharpEditorAvalonia.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SharpEditorAvalonia.Properties.Settings>
            <setting name="TemplateDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="LastFileDirectory" serializeAs="String">
                <value />
            </setting>
        </SharpEditorAvalonia.Properties.Settings>
        <SharpEditorAvalonia.Settings1>
            <setting name="TemplateDirectory" serializeAs="String">
                <value />
            </setting>
        </SharpEditorAvalonia.Settings1>
    </userSettings>
</configuration>